###############################################
# Initialization parameters for LC simulation  #
###############################################

# Temperature and pressure
variable P equal ${system.pressure}
variable dt equal ${system.timestep}

# System size
variable npart equal ${system.n_molecules}

# Box dimensions
variable lxhalf equal ${system.box_limit_x}
variable lyhalf equal ${system.box_limit_y}
variable lzhalf equal ${system.box_limit_z}